# Python缓存
__pycache__/
*.pyc

# 虚拟环境
.venv/
venv/

# PyCharm
.idea/

# CLI工具缓存
.codewhale/
.deepseek/

# 日志目录
data/logs/

# 其他
其他/

# 组件缓存
data/db/widgets_cache.db

# 更新检查缓存
data/json/version.json

# 设置
data/json/config.json

# 开发工具目录
.zcode/