★{{greeting}} 今天已开机{{startup_times}}次★

★今天是{{date}} 农历{{lunar_date}} {{weekday}} 今年的第{{week_num}}周 第{{day_num}}天
节假日信息：今天是{{festival}} 24节气：{{solarterm}}
↖(^ω^)↗

今年已过{{year_progress}} 还剩{{year_remain}}
{{time_emoji}}当前时间：{{time}}

{{city_name}}的天气情况：
天气状况：{{weather_emoji}}{{weather}} 🌡温度：{{temperature}} 体感温度{{feels_like}} 💦空气湿度：{{humidity}}
★🍃风向：{{wind_direction}} 🍃风速：{{wind_speed}} 🌁空气质量：{{air_quality}}

★历史上的今天★
{{historical_date}}
{{historical_event}}

★每日一言★
{{every_day_words_zh}}
{{every_day_words_en}}