⭐️{{greeting}}主人 ~˃ v ˂~ 今天已开机{{startup_times}}次喵~⭐️

⭐️日期信息⭐️
今天是{{date}}  ՞•･•՞🐾（{{lunar_date}}星期{{weekday}}喵✨！
今年的第{{week_num}}周，是喜欢主人的第{{day_num}}天呐ฅ( •̥ ̫ •̥ )ฅ喵✨~
ฅ我们还有多久见到彼此呢 ٨ـﮩﮩ٨ـ♡‎‎ﮩ٨ـﮩﮩ٨喵~ฅ
节假日：{{holiday}} | 24节气：{{solar_term}}哦喵✨！

⭐️年度进度⭐️
今年已过{{year_progress}}，还剩{{year_remain}}ദ്ദി˶>𖥦<)✧ 喵✨~

{{time_emoji}}当前时间：{{time}}U𖥦U喵✨！

⭐️ฅο(=•ω＜=)ρ⌒☆{{city_name}}天气情况ฅ⭐️
天气：{{weather_emoji}}{{weather}}喵✨~
温度：{{temperature}} | 体感温度：{{feels_like}} | 湿度：{{humidity}}喵✨~
风向：{{wind_direction}} | 风速：{{wind_speed}}喵✨~
空气质量：{{air_quality}}喵✨~
ฅ虽然我不能直接关♥主人，但主人还是要注意适当增减衣物呀“>⸝⸝⸝⸝<”喵✨~ฅ
˗ˋˏ( ´͈ T `͈ )ˎˊ˗

⭐️历史上的今天⭐️
{{historical_date}}
{{historical_event}}

⭐️每日一言⭐️
{{every_day_words_zh}}
{{every_day_words_en}}
🌟今天也要开心呀🌟喵！